<h1 id = "form-title", class = "text-center m-2">Add new Food to Inventory</h1>
<%= form_with(model: [@inventory_food], url: inventory_foods_path) do |form| %>
  <div class = "form-container">
    <div class="form-group text-center mt-2">
      <%= form.hidden_field :inventory_id, value: @inventory_id %>
    </div>
    <div class="form-group text-center mt-2">
      <%= form.collection_select(:food_id, Food.all, :id, :name, { prompt: "Select a Food" }, { class: "form-select" }) %>
    </div>
    <div class="form-group text-center mt-2">
      <%= form.number_field :quantity, autofocus: true, autocomplete: "quantity", placeholder: "Quantity", class: "form-control" %>
    </div>

    

    <div class="text-center">
      <%= form.submit 'Add Food to Inventory', class: "btn btn-primary mt-3"%>
    </div>
  </div>
<% end %>