<h1 class="display-4">Create Recipe</h1>


<%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>

  <div class="">
    <%= f.label :Name %>
    <%= f.text_field :name, class: "" %>
  </div>

  <div class="">
    <%= f.label "Prepartion Time" %>
    <%= f.number_field :preparation_time, class: "" %>
  </div>

  <div class="">
    <%= f.label "Cooking Time" %>
    <%= f.number_field :cooking_time, class: "" %>
  </div>

  <div class="">
    <%= f.label "Description" %>
    <%= f.text_area :description, class: "" %>
  </div>

  <div class="">
    <%= f.check_box :public, class: "", id: "flexSwitchCheckChecked" %>
    <%= f.label :public, class: "", for: "flexSwitchCheckChecked" %>
  </div>

  <%= f.submit "Create", class: "" %>
<% end %>

