<nav class="navbar navbar-expand-lg text-white bg-primary">
  <div class="container-fluid">
    <span><%= link_to 'Blog App', root_path, class: "nav-link" %></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Foods', foods_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Recipes', recipes_path, class: "nav-link text-white"%>
        </li>
        <li>
          <%= link_to 'Inventories', inventories_path, class: "nav-link text-white" %>
        </li>
        <li>
          <%= link_to 'Public Recipes', public_recipes_path, class: "nav-link text-white" %>
        </li>
        <li class="d-flex align-items-center">
          <% if user_signed_in? %>
          <%= button_to "LogOut", destroy_user_session_path, method: :delete, class: "btn btn-outline-light btn-sm" %>
         <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>