<h1 class= "text-center m-2">Food Index</h1>
<a class = "d-flex justify-content-center" href="<%= new_food_path %>">
  <button class='btn btn-primary m-3'>Create a new Food</button>
</a>
<div class="container">
  <table class="table table-bordered table-center">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td>
            <% if can? :destroy, food %>
              <%= render partial: 'shared/delete', locals: { model: food, url: food_path(food) } %>   
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  

