<%= form_with(model: [@recipe_food], url: recipe_foods_path)  do |form| %>
  <div class="d-flex justify-content-evenly">
    <div class="field">
      <%= form.hidden_field :recipe_id, value: @recipe_id %>
    </div>
    <div class="field">
      <%= form.label :name %><br>
      <%= form.collection_select :food_id, Food.all, :id, :name, prompt: "Select a Food",class: "w-100" %>
    </div>
    <div class="field">
      <%= form.label :quantity %><br>
      <%= form.number_field :quantity, autofocus: true, autocomplete: "quantity", placeholder: "Quantity" %>
    </div>
    <div>
      <%= form.label :action %><br>
      <%= form.submit %>
    </div>
  </div>
<% end %>
